
   .top_nav {
   overflow: visible;
   }
   .member_list .contact_sec {
   margin-top: 3px;
   }
   .member_list li {
   padding: 6px;
   }
   .member_list ul {
   border: 1px solid #dddddd;
   }
   .chat-img img {
   height: 34px;
   width: 34px;
   }

   .member_list li:last-child {
   border-bottom:none;
   }
.chat_area {
  float: left;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background-image: url("http://hasshe.com/img/s/ex2Ohl2iwRt4iiGg-1HVQgHaKi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.message_write {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}
.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}

.giychat_body{
  margin-top:20px;
  background:#eee;
}

.medium-image {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {

}


.chat-footer.new-message-textarea .send-message-text {
padding-right: 100px;
height: 90px;
}

.message-chat {
width: 100%;
overflow: hidden;
}

.message {
position: relative;
width: 100%;
}

.message br {
clear: both;
}

.message .message-body {
position: relative;
width: auto;
max-width: calc(100% - 150px);
float: left;
/* chap message bodysi */
background-color: rgb(241, 159, 77);
border-radius: 4px;
border: 1px solid #dbe3e8;
margin: 0 5px 20px 15px;
color: #fff;
}

.message:after {
content: "";
position: absolute;
top: 11px;
left: 63px;
float: left;
z-index: 100;
border-top: 10px solid transparent;
border-left: none;
border-bottom: 10px solid transparent;
border-right: 13px solid #fff;
}

.message:before {
content: "";
position: absolute;
top: 10px;
left: 62px;
float: left;
z-index: 99;
border-top: 11px solid transparent;
border-left: none;
border-bottom: 11px solid transparent;
border-right: 13px solid #dbe3e8;
}

.message .medium-image {
float: left;
margin-left: 10px;
}

.message .message-info {
width: 100%;
height: 20px;
}


.message .message-info > h5 {
color: #fff;
margin: 8px 0 0 0;
font-size: 10px;
float: right;
padding-right: 10px;
}

.message .message-info > h4 {
font-size: 12px;
font-weight: 600;
margin: 7px 13px 0 10px;
color: #fff;
float: left;
}

.message hr {
margin: 4px 2%;
width: 96%;
opacity: 0.75;
}

.message .message-text {
text-align: left;
padding: 3px 0px -0px 13px;
font-size: 12px;
}

.message.my-message .message-body {
float: right;
margin: 0 15px 20px 5px;
}

.message.my-message:after {
content: "";
position: absolute;
top: 11px;
left: auto;
right: 63px;
float: left;
z-index: 100;
border-top: 10px solid transparent;
border-left: 13px solid rgb(241, 159, 77);
border-bottom: 10px solid transparent;
border-right: none;
}

.message.my-message:before {
content: "";
position: absolute;
top: 10px;
left: auto;
right: 62px;
float: left;
z-index: 99;
border-top: 11px solid transparent;
border-left: 13px solid #dbe3e8;
border-bottom: 11px solid transparent;
border-right: none;
}

.message.my-message .medium-image {
float: right;
margin-left: 5px;
margin-right: 10px;
}

.message.my-message .message-info > h5 {
float: left;
padding-left: 10px;
padding-right: 0;
}

.message.my-message .message-info > h4 {
float: right;
}

.message.info .message-body {
background-color: #2da9e9;
border: 1px solid #2da9e9;
color: #fff;
}

.message.info:after, .message.info:before {
border-right: 13px solid #2da9e9;
}
.message.info .message-info > h4, .message.success .message-info > h4,
.message.warning .message-info > h4, .message.danger .message-info > h4,
.message.dark .message-info > h4 {
color: #fff;
}

.message.info .message-info > h5, .message.info .message-info > h5 > i,
.message.success .message-info > h5, .message.success .message-info > h5 > i,
.message.warning .message-info > h5, .message.warning .message-info > h5 > i,
.message.danger .message-info > h5, .message.danger .message-info > h5 > i,
.message.dark .message-info > h5, .message.dark .message-info > h5 > i {
color: #fff;
opacity: 0.9;
}

@media screen and (max-width: 767px) {
.messages-panel {
  min-width: 0;
  display: inline-block;
}

.contacts-list, .contacts-list .inbox-categories > div:nth-child(4) {
  border-top-right-radius: 5px;
  border-right: none;
}

.contacts-list, .contacts-outter-wrapper, .contacts-outter, .contacts {
  width: 100%;
  direction: ltr;
  padding-left: 0;
}

.contacts-list .inbox-categories > div {
  width: 25%;
}

.message-body {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #dce2e9;
  background-color: #fff;
}

.message .message-body {
  max-width: calc(100% - 85px);
}

.message-body .chat-body {
  background-color: #fff;
  width: 100%;
}

.chat-footer {
  margin-bottom: 20px;
  padding: 0 20px;
}

.chat-footer .send-message-button {
  right: 40px;
}

.chat-footer .upload-file {
  right: 90px;
}

.message-body .message-top > .btn {
  border-radius: 0;
  width: 100%;
}

.contacts-add {
  display: none;
}
}
.footer-away{
  height: 200px;
}
