 .App {
  text-align: center;
}
body{
  background-color: #f0eeec;
  font-family:  'Market Sans', 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
}
.pinterest:hover
        {
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
            margin-top: -5px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

#navbar_collapse {
  border: hidden;
}
.nav-icons{
  color: rgb(241, 159, 77);
}
.nav-tabz{
  color: #0093d3;
}
  .wizard > div.wizard-inner {
      position: relative;
  }

.connecting-line {
  height: 2px;
  background: rgb(241, 159, 77);
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
/* .nav{
  padding-left: 30px;
  padding-right: -30px
} */
span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid rgb(241, 159, 77);
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i{
  color:#0093d3;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #0093d3;
}
.wizard li.active span.round-tab i{
  color: #0093d3;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 16%;
}


.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

@media( max-width : 585px ) {

  .wizard {
      width: 90%;
      height: auto !important;
  }

  span.round-tab {
      font-size: 16px;
      width: 50px;
      height: 50px;
      line-height: 50px;
  }

  .wizard .nav-tabs > li a {
      width: 45px;
      height: 45px;
      line-height: 50px;
  }

  .wizard li.active:after {
      content: " ";
      position: absolute;
      left: 35%;
  }
}
/* announcement */
.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #fff;
  color: #000;
  margin-bottom: 15px;
  /* min-height: 150px; */


}


.card .content {
  position: relative;
  margin: 15px;
  z-index: 100;
  text-align:left;
}

.card .avatar {
  position: relative;
  margin:15px 15px 5px 15px;
  z-index: 100;
  float:left;
}


.card .avatar .annon_img {
   width:80px ;
  height:80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.personName {
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(0, 147, 211);
  letter-spacing: 1px;
  font-size: 10px;
}

.title
{
  font-weight: bold;
  font-size:12px;
  letter-spacing:1px;
}
.text_box{
  font-size:12px;
  letter-spacing:1px;
}




.thumb-contenido{

  margin-bottom:1%;
  margin-left: 0px;
  padding-left: 0px;
}
.author {
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  color: grey;
  letter-spacing: 1px;
  font-size: 10px;
}

.well {
  border-color: rgb(241, 159, 77);
}

.card {
  border-color: rgb(241, 159, 77);
}

.gold_border {
  border-color: rgb(241, 159, 77);
}
.blue_font {
  color: #0093d3;
}
